<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ip_pomoshnik_kz">
    <application
        android:label="ИП-Помощник KZ"
        android:icon="@mipmap/ic_launcher">
        <activity
            android:name="io.flutter.embedding.android.FlutterActivity"
            android:exported="true"
            android:theme="@style/LaunchTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>
</manifest>
